.myNavbar {
    min-height: 7vh !important;
}

.navbar {
    box-shadow: 0px 8px 6px -6px #999;
    /* box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .2); */
}

@media only screen and (max-width: 700px) {
    .myNavbar {
        max-height: 500px !important;
        /* padding-left: 1rem !important; */
        /* padding-right: 1rem !important; */
    }
}