.mySearchbar {
    width: 50%;
    padding-right: 2%;
    padding-left: 2%;
}

@media only screen and (max-width: 700px) {
    .mySearchbar {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
}