@import './styles//auth/auth.css';
@import './styles/common/card.css';
@import './styles/common/text.css';
@import './styles/common/button.css';
@import './styles/common/loading.css';
@import './styles/common/carousel.css';
@import './styles/common/common.css';
@import './styles/common/gutter.css';
/* my font */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* Global Style */

html, body {
    height: 100% !important;
    font-size: 0.99rem;
    font-family: 'Nunito', sans-serif;
}

#root {
    height: 100vh !important;
}

@media only screen and (max-width: 700px) {
    html, body {
        font-size: 0.95rem;
    }
}